table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
  }
  
  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
  }
  
  th {
    background-color: #c0e3e5;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  td {
    font-size: 14px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #c0e3e5;
    transition: background-color 0.3s;
  }
  
  td img {
    vertical-align: middle;
    border-radius: 4px;
    max-width: 50px;
  }